<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904978222055-eed3oc7kcsr9k9gaqd60s3p8r847g1h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904978222055-eed3oc7kcsr9k9gaqd60s3p8r847g1h3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904978222055-t48jbju6gp0iv557eatcghlamigle0ap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6YoIS8S14tyHOvG0TxgJWiMqggwB0Ly0</string>
	<key>GCM_SENDER_ID</key>
	<string>904978222055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inersya.harcoapp</string>
	<key>PROJECT_ID</key>
	<string>harcoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>harcoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904978222055:ios:35457aa2d9fba8c29d8b42</string>
	<key>DATABASE_URL</key>
	<string>https://harcoapp.firebaseio.com</string>
</dict>
</plist>